#banner{
	height: 100px;
	background-color: black;
	background-size: cover;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 5px black;
	font-family: 'Shadows Into Light', cursive;
}

#banner h1{
	font size: 100px;

}


#main{
	background-image: url(images/pexels-photo-346796.jpeg);
	background-position:center center;
	background-size: cover;
	height: 100vh;
}

.bouton{
	width: 50vw;
	text-align: center;
	margin-top: 50vh;
	margin-bottom: 50vh;
}

#footer{
	background-color: white;
	color: black;
	height: 25px;
}